.buentrabajo {
    max-width: 500px;
    width: calc(100% - 20px); 
}

.imgExt {
    max-width: 1000px;
    width: calc(100% - 25px); 
    margin: 20px;
}

.iFrameDoc {
    max-width: 1000px;
    width: calc(100% - 50px);
}

.subirDoc {
    max-width: 500px;
    margin: 0 auto;
}

#renovacion, #p_vez {
    display: none;
}

main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 50px;
    width: 95%;
    min-height: 600px;
    margin: 0 auto;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

#texto {
    flex-grow: 1;
    width: calc(100% - 20px); 
}

.btnReg {
    position: absolute;
    bottom: 20px;
    right: 100px; 
    width: 150px;
}

.iframe-wide {
    width: 100%; 
    max-width: 1200px; 
    height: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


@media (max-width: 768px) {
    .btn {
        bottom: 10px;
        right: 10px;
    }
}
