.buentrabajo {
    max-width: 500px;
    width: calc(100% - 20px); 
}

#renovacion, #p_vez {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    min-height: 80vh; 
    padding: 20px; 
}

#texto {
    flex-grow: 1;
    width: calc(100% - 20px); 
}

.btnReg {
    position: absolute;
    bottom: 20px;
    right: 100px; 
    width: 150px;
}

.iframe-wide {
    width: 100%; 
    max-width: 1200px; 
    height: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


@media (max-width: 768px) {
    .btn {
        bottom: 10px;
        right: 10px;
    }
}
