main {
    margin: 0 auto;
    max-width: 1000px;
    padding: 500px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#locker-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.locker.disponible {
    width: 140px;
    height: 150px;
    background-color: rgb(19, 92, 151);
    background-image: url('/ProyectoWeb/img/admin/casillero.png'); 
    background-size: cover; 
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.locker.asignado {
    width: 140px;
    height: 150px;
    background-color: rgb(121, 121, 121);
    background-image: url('/ProyectoWeb/img/admin/casillero.png'); 
    background-size: cover; 
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.locker h2 {     
    color: white;    
    margin: 56px auto;
}
