main {
    margin: 0 auto;
    width: 95%;
    padding: 500px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#crudModalLabel {
    color: #470d2c;
    font-weight: 600;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
}

#locker-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.locker.disponible {
    width: 140px;
    height: 150px;
    background-color: rgb(19, 92, 151);
    background-image: url('/ProyectoWeb/img/admin/casillero.png'); 
    background-size: cover; 
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.locker.asignado {
    width: 140px;
    height: 150px;
    background-color: rgb(121, 121, 121);
    background-image: url('/ProyectoWeb/img/admin/casillero.png'); 
    background-size: cover; 
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.locker h2 {     
    color: white;    
    margin: 56px auto;
}

#btnCasilleros{
    background-color: #225560;
    color: white;
    padding: 10px 20px;
    border: 0.1px solid rgb(212, 212, 212);
    cursor: pointer;
    margin-right: 10px;
}

#btnCrud {
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: 0.1px solid rgb(212, 212, 212);
    cursor: pointer;
    margin-right: 10px;
}

#casilleros {
    display: block;
}

#crud{
    display: none;
    margin-top: 25px;
}

#createRecordBtn {
    display: none;
}

tr a {
    text-decoration: none;
    color: #310D20;
}

.table-responsive {
    max-height: 400px; 
    overflow-y: auto;  
    overflow-x: auto; 
    white-space: nowrap;
}

.table-responsive table {
    margin-top: 25px;
    width: 100%;
}

.btn-circle {
    width: 50px;
    height: auto;
    border: none; 
}

.btn-circle .icon {
    width: 100%;
    height: auto;
}

#fileLink {
    color: #310D20;
}



